body{
    background: #86f0b5;
}

.yellow-tag{
    text-decoration: None;
    color: black;
    margin: 20px;
    padding: 6px;
    border: black solid 1px;
    border-radius: 50px;
}

.logo-img{
    height: 50px;
    width: 50px;
}